# Data analysis for restaurant data

In [1]:
import pandas as pd
import plotly

ModuleNotFoundError: No module named 'plotly'

In [8]:
file_name = str(input("Please specify the file you'd like to open: "))
def open_data(file_name):
    name = 'Data/clean_data/' + file_name
    df = pd.read_csv(name) 
    return df
df = open_data(file_name)

In [9]:
df

,datum,fogyasztott_etel,fogyasztott_ital,fogyasztott_asvanyviz,bor_helyben,bor_elviteles,vendegszam_etterem,vendegszam_kostolo,netto_bevetel,osszes_vendeg,atlag_koltes,day_of_week
0,2021-05-01,712017,88974,4057,250154,48054,91,67,1103256,158,1103414,Saturday
1,2021-05-02,325923,51750,1014,87662,28934,39,30,495283,69,495352,Sunday
2,2021-05-03,0,0,0,0,0,0,0,0,0,0,Monday
3,2021-05-04,0,8121,4058,37436,0,0,17,49615,17,49632,Tuesday
4,2021-05-05,148800,12998,0,61646,54504,17,2,277948,19,277967,Wednesday
5,2021-05-06,664267,33394,0,79547,94805,57,0,872013,57,872070,Thursday
6,2021-05-07,207778,13161,0,48195,5205,18,0,274339,18,274357,Friday
7,2021-05-08,1038048,141874,9128,355942,110937,111,88,1655929,199,1656128,Saturday
8,2021-05-09,343256,44064,9128,106826,26134,35,70,529408,105,529513,Sunday
9,2021-05-10,0,2122,0,617,7110,0,2,9849,2,9851,Monday
10,2021-05-11,12375,4957,0,18255,41898,6,4,77485,10,77495,Tuesday
11,2021-05-12,45921,4374,1014,0,0,4,4,51309,8,51317,Wednesday
12,2021-05-13,92321,8363,1014,58117,0,11,11,159815,22,159837,Thursday
13,2021-05-14,275946,49761,1014,94451,16735,26,14,437907,40,437947,Friday
14,2021-05-15,807202,103701,5071,171489,142196,85,57,1229659,142,1229801,Saturday
15,2021-05-16,393175,56356,0,34702,50504,34,22,534737,56,534793,Sunday
16,2021-05-24,357067,77122,1920,42342,302085,45,49,780536,94,780630,Monday
17,2021-05-25,0,0,0,15874,5646,0,2,21520,2,21522,Tuesday
18,2021-05-26,214081,17923,0,57396,27661,28,4,317061,32,317093,Wednesday
19,2021-05-27,559557,51231,0,263056,55087,64,13,928931,77,929008,Thursday
20,2021-05-28,546251,29832,0,155786,59564,60,19,791433,79,791512,Friday
21,2021-05-29,1066667,93677,3043,426792,77756,118,76,1667935,194,1668129,Saturday
22,2021-05-30,609745,44720,0,46961,109349,68,5,810775,73,810848,Sunday
23,2021-05-31,0,0,0,0,0,0,0,0,0,0,Monday